<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>管理员后台界面</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="由明理苑成员完成">
    <meta name="keywords" content="合工大,课程网站,精品课程">
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link rel="stylesheet" href="lib/fontawesome-all.css">
    <link rel="stylesheet" href="lib/global.css">
    <link rel="stylesheet" type="text/css" href="lib/sidebar.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
</head>

<body class="bg-gray">
<header class="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-right ">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span>管理员 <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        <li class="dropdown-header text-center">账户</li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw pull-right"></i> 详情
                            </a>
                            <a data-toggle="modal" href="#modal-user-settings">
                                <i class="fa fa-cog fa-fw pull-right"></i> 设置
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out-alt pull-right"></i> 注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="maincontent">
    <div class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">添加通知</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="infoTitle">请输入通知标题:</label>
                                    <input type="text"  placeholder="这里是通知标题" name="infoTitle" class="form-control" id="infoTitle">
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <!--这里是富文本编辑器-->
                                <label for="infoContent">请输入通知内容:</label>
                                    <div id="infoContent" class="z-index-bottom"></div>
                                    <p></p>
                                    <button class="btn btn-primary btn-block" onclick="addInformation()">添加</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="lib/jquery-3.2.1.js"></script>
<script type="text/javascript" src="lib/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="lib/wangEditor.min.js"></script>
<script type="text/javascript" src="js/addInfo.js"></script>
<script type="text/javascript">

</script>
<!-- <script src="js/jquery.min.js"></script> -->
</body>

</html>
