<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>管理员后台</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="由明理苑成员完成">
    <meta name="keywords" content="合工大,课程网站,精品课程">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="lib/sidebar.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <link rel="stylesheet" href="lib/global.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="lib/fontawesome-all.css">

</head>
<frameset cols="20%,80%" frameborder=0 framespacing=0>
    <frame src="adminsidebar.html" name="left" />
    <frame src="adminwelcome.html" name="right" />
</frameset>
<script type="text/javascript" src="lib/jquery-3.2.1.js" ></script>
<script type="text/javascript"  src="lib/bootstrap/bootstrap.js"></script>
    <!-- <script src="js/jquery.min.js"></script> -->
    <script type="text/javascript" src="lib/sidebar.js"></script>
</html>
