<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.glxy.mapper.InformMapper">

	<!-- 通用查询结果列 -->
	<!--<sql id="Base_Column_List">
		test_id AS testId, name, age, test_type AS testType, role, phone
	</sql>-->

	<delete id="deleteAll">
		DELETE FROM inform
	</delete>

	<insert id="save" parameterType="com.hfut.glxy.entity.Inform">
		INSERT INTO inform(id,title,content,create_time,update_time)
		VALUES (#{id},#{title},#{content},NOW(),NOW())
	</insert>

	<select id="findTitleByCourseId" resultType="com.hfut.glxy.entity.Inform">
		SELECT id,title FROM inform WHERE course_id=#{cid} AND is_delete=0
	</select>

	<select id="findTitleAndContentById" resultType="com.hfut.glxy.entity.Inform">
		SELECT id,title,content FROM inform WHERE id=#{id} AND is_delete=0
	</select>
</mapper>